:root {
    --my-start-top: 0%;
    --letter-fall-time: 8s;
}

.already-played {
    color: DarkOrange;
}

.bonus {
    font-weight: bold;
}

.word {
    color: DarkGreen;    
}

.missing {
    color: red;
    text-decoration: line-through;
}

.not-word {
    color: red;
}

.tile {
    font-family: monospace;
}

#cubes {
    background-color: lightslategray;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#falling-x {
    font-family: monospace;
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 48px;
    animation: fallAnimation var(--letter-fall-time) cubic-bezier(0.69, 0.02, 0.94, 0.75) infinite;
}

#horizontal-panel {
    background-color: LightYellow;
    height: 200px;
}

#led-panel {
    width: 1200px;
}

#score {
    font-size: 20pt;
    color: rgba(0, 0, 0, 0.5);
    margin: auto;
    text-align: left;
    width: 100%;
}

#vertical-panel {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: LightYellow;
    overflow: hidden;
    margin: auto;
}

#previous-guesses {
    font-size: 36px;
}

#start-line {
  position: absolute;
  width: 50%;
  height: 2px; /* Adjust the line thickness as needed */
  background-color: red;
  top: 10%; /* 20% down from the top */
}

#tiles {
  position: absolute;
  top: 85%;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 50px;
}

@keyframes fallAnimation {
    0% {
        top: var(--my-start-top);
    }
    100% {
        top: 100%;
        transform: rotate(1080deg);
    }
}
