:root {
    --my-start-top: 0%;
}

.tile {
    font-family: monospace;
}

#container {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #ccc;
    overflow: hidden;
}

#tiles {
  position: absolute;
  top: 90%;
  width: 100%;
  margin: auto;
  text-align: center
}

#start-line {
  position: absolute;
  width: 50%;
  height: 2px; /* Adjust the line thickness as needed */
  background-color: red;
  top: 10%; /* 20% down from the top */
}

#falling-x {
    font-family: monospace;
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 24px;
    animation: fallAnimation 8s cubic-bezier(0.69, 0.02, 0.94, 0.75) infinite;
}

@keyframes fallAnimation {
    0% {
        top: var(--my-start-top);
    }
    100% {
        top: 100%;
        transform: rotate(1080deg);
    }
}
